# Telegram bot API ID
API_ID=

# Telegram bot API HASH
API_HASH= 

# Absolute path for downlaoded files
DOWNLOAD_PATH=

# Channel/group id where media are forarded
TARGET_CHAT_ID=

# user that can forward media files without @ (or the numeric user ID)
ALLOWED_USER=  